<section class="hero is-transparent is-darkest is-medium {{page.heroclass}}">
    <div class="ub-color-overlay"></div>
    <!-- Hero header: will stick at the top -->
    <div class="hero-head">
       {% include header.html %}
    </div>
  
    <!-- Hero content: will be in the middle -->
    {% if page.heroclass %}
    <div class="hero-body">
      <div class="container">
        {% if page.tagline %}
        <h1 class="title is-4 ub-home-title has-text-centered	">
           {{page.tagline}} 
        </h1>
        {% endif %}
        {% if page.mainbutton %}
        <h2 class="has-text-centered">
          <a class="button ub-pill" href="#">
            <span>{{page.mainbutton}}</span>
          </a>
        </h2>
        {% endif %}
      </div>
    </div>
    {% endif %}
    
    <!-- Hero footer: will stick at the bottom -->
    <!-- <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
  </section>