<div class="columns">
    <div class="column is-half">
        <figure class="image">
            <img src="{{site.baseurl}}/assets/img/{{include.leftfile}}" alt="{{include.leftalt}}">
            <figcaption>
                {{include.leftcaption}}
            </figcaption>
        </figure>
    </div>
    <div class="column is-half">
        <figure class="image">
            <img src="{{site.baseurl}}/assets/img/{{include.rightfile}}" alt="{{include.rightalt}}">
            <figcaption>
                {{include.rightcaption}}
            </figcaption>
        </figure>
    </div>
</div>